 <%= form_with(model: [post, comment], local: false) do |f| %>
　<div id="comments-error">
    <%= render 'layouts/error_messages', model: f.object %>
  </div>
    <%= f.text_area :comment, rows: '5', cols: '80', placeholder: "コメントをここに" %><br>
    <div class="text-center" >
      <%= f.submit "送信する", class: "btn btn-secondary" %>
    </div>
  <% end %>