<%= render "layouts/header" %>
  <main>
    <div class="about-top"></div>
    <br>
    <h3>朝食</h3>
      <p class="introduction">
        １日の始まりのエネルギー補給として欠かせない存在。<br>
        それは分かっていても、忙しい朝は満足いく朝食を摂ることは難しいです。<br>
        朝が弱くて朝食を抜きがちな人もいるのではないでしょうか？<br>
        そんな人たちのために、朝食有識者が自分のベスト朝食を投稿し、広く流布することで<br>
        朝食難民を救うことを目的としているのが当サイトになります。
      </p>
  </main>

<%= render "layouts/footer" %>